.container {
    background-position: center;
    background-size: cover;
    height:55vh;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.findmebutton {
    width: 100%;
    max-width:200px;
    background:#FF7777;
    color:white;
    border-radius: 25px;
    border:none;
    outline: none;
    padding: 0.5rem 0;
}
.container h2 {
    color: #FF3E3E;
}
.container p {
    color: #777777;
    
}
.buttonlogo {
    width: 100%;
    max-width:50px;

}

.row {
align-content: flex-start;
}

