.newColor {
  color: #ff5555;
}

h4 {
  color: #ff5555;
}
p {
  color: #777777;
}
h3 {
  color: #ff5555;
}
.inputStyle {
  width: 350;
  border: 0.5px solid;
  color: #ff5555;
}
.button {
  background: #00008b;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: "40px";
}
