.newColor {
  color: #ff5555;
}

h3.newColor,
h4.newColor,
h5.newColor,
label.newColor {
  font-weight: bold;
}

p,
.email {
  color: #777777;
}

.email {
  font-size: 13px;
  margin-top: -2px;
}

.avatar {
  border-radius: 50%;
  background: #999;
}

.inputStyle {
  border: 0.5px solid;
  color: #444444;
  border: 1px solid #ff5555;
  width: 190px;
  height: 30px;
}

.inputStyle:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.inputStyle::placeholder {
  color: #777777;
}

textarea.inputStyle {
  height: 50px;
}

.button {
  background: #3f6487;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 40px;
  border: 0;
}

.cancelBtn {
  background: #777777;
}

.mainContainer {
  background-color: #e5e5e5;
}

.bgWhite {
  background-color: white;
}

.fullHeight {
  height: 100%;
}

.profile .error {
  color: #ff5555;
  font-size: 12px;
  margin-top: 2px;
}
