footer {
  background-color: #31393c;
  color: white;
}

#footerRow {
  margin-right: 0;
  margin-left: 0;
}

.page-footer {
  background-color: #31393c;
  color: white;
}

.headersColor {
  color: #ff7777;
  text-align: left;
}

.ulJustify {
  text-align: left;
}

.footer-copyright {
  text-align: left;
  font-size: 14px;
}

.dogImage {
  width: 30;
  height: 20;
  border-radius: 5px;
}

footer h3 {
  color: hsl(0, 100%, 73%);
  text-align: left;
}

footer h4 {
  color: #ff7777;
  text-align: left;
}

.dogImage {
  width: 30;
  height: 20;
  border-radius: 5px;
}

footer li {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .footerLogos div {
    display: inline-block;
  }
}
