@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Roboto", Courier, monospace;
}

.btn-primary {
  color: #fff;
  background-color: #ff7777;
  border-color: #ff7777;
  border-radius: 20px;
  padding: 0.375rem 1.2rem;
}

.btn-primary:hover {
  background-color: #fc5d5d;
  border-color: #fc5d5d;
}

.page-footer {
  background-color: #31393c;
  color: white;
}

.headersColor {
  color: #ff7777;
  text-align: left;
}

.ulJustify {
  text-align: left;
}
.footer-copyright {
  text-align: left;
  font-size: 14px;
}
footer {
  background-color: #31393c;
  color: white;
}
h3 {
  color: hsl(0, 100%, 73%);
  text-align: left;
}
a {
  color: white;
}
h4 {
  color: #ff7777;
  text-align: left;
}

.dogImage {
  width: 30;
  height: 20;
  border-radius: 5px;
}

li {
  text-align: left;
}
